@import url("./loader.css");
@import url("./override.css");

:root {
    --main-bg-color: #5C56F5;
}

body {
    margin: 0;
}

#chatterbox {
    position: absolute;
    width: 100vw;
    height: 100vh;
    border-radius: 12px;
    background: #F4F6FA;
}

.AccountSetupView {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.PolicyAgreementView {
    width: 100%;
    flex: 1;
}

.PolicyAgreementView_title {
    font-weight: 600;
    font-size: 18px;
    margin-top: 52px;
    text-align: center;
}

.PolicyAgreementView_text {
    margin-top: 16px;
    padding: 0 32px;
    width: 311px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
}

.PolicyAgreementView_next {
    display: flex;
    padding: 10px;
    width: 311px;
    height: 48px;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    background: var(--main-bg-color);
    border: none;
    font-weight: 600;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.PolicyAgreementView_next[disabled] {
    cursor: default;
}

.PolicyAgreementView_cancel {
    margin-top: 12px;
    color: #737D8C;
}

.PolicyAgreementView_btn-collection {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.FooterView_logo {
    filter: brightness(0) saturate(100%) invert(41%) sepia(81%) saturate(5403%) hue-rotate(233deg) brightness(99%) contrast(94%);
    height: 16px;
    width: 16px;
}

.FooterView_chatterbox-branding {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: var(--main-bg-color);
    margin-left: 4px;
}

.FooterView {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 33px;
}

.ChatterboxView .FooterView {
    margin: 10.5px 0;
}

.FooterView>div, .FooterView>a {
    display: flex;
    align-items: center;
}

.FooterView a {
    text-decoration: none;
}

.FooterView_matrix-branding {
    font-size: 12px;
    line-height: 15px;
    color: #737D8C;
}

.ChatterboxView {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.RoomHeaderView {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    align-items: center;
    padding: 10px 15px;
    height: 64px;
    background-color: #ffffff;
    border-radius: 12px 12px 0px 0px;
    border: 1px solid #E3E8F0;
    color: #17191C;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
}

.RoomHeaderView_menu {
    display: flex;
    justify-content: end;
}

.RoomHeaderView_menu_minimize {
    background: url("../res/chevron-down.svg") no-repeat center;
    height: 20px;
    width: 20px;
    border: none;
    cursor: pointer;
}

.RoomHeaderView .avatar {
    border-radius: 100%;
    background: var(--main-bg-color);
    border: 2px solid rgba(255, 255, 255, 0.8);
}

.ChatterboxView_footer {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 1.0rem;
    font-weight: 600;
    box-sizing: border-box;
    padding-right: 53px;
    color: #9b9797;
}

.ChatterboxView_footer>img {
    width: 35px;
    padding-left: 4px;
}

.ChatterboxLoadingView {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AccountSetupView .ChatterboxLoadingView {
    flex: 1
}

.ChatterboxView .ChatterboxLoadingView {
    height: 100%;
}

.LoadingText {
    margin-top: 8px;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
}

.chatterbox-spinner {
    width: 64px;
    height: 64px;
    background: #fff;
    border: 1px solid #E3E8F0;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PolicyAgreementView_next .loader {
    width: 15px;
    height: 15px;
    font-size: 3px;
}

.WaitingForOperatorJoinView {
    display: flex;
    justify-content: center;
}

.FakeComposerContainer {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #E3E8F0;
    border-radius: 8px;
    width: 351px;
    height: 56px;
    box-sizing: border-box;
    align-items: center;
}

.FakeComposerContainer .loader {
    width: 15px;
    height: 15px;
    margin: 0 0 0 10px;
    font-size: 2px;
}

.FakeComposerContainer span {
    margin-left: 20px;
    color: #737D8C;
}
