.chatterbox-iframe {
    position: absolute;
    right: 10px;
    bottom: 50px;
    border: none;
    /*
     this is to prevent the display of the smaller iframe before it is resized
     programmatically.
    */
    height: 0;
    width: 0;
}

@media (max-width: 800px) {
    .chatterbox-iframe {
        bottom: 0;
        right: 0;
    }
}

.start {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.start button {
    width: 32px;
    height: 32px;
    border: none;
    background: no-repeat center url('./ui/res/chat-bubbles.svg'), #295dbd;
    border-radius: 2px;
    cursor: pointer;
}

body {
    background-color: blanchedalmond;
}
