#chatterbox {
    position: absolute;
    bottom: 10px;
    right: 10px;
    max-width: 375px;
    border-radius: 5px;
}

#chatterbox .Timeline {
    height: 450px;
}

/*
todo: this style should actually be in hydrogen-web
*/
#chatterbox .popupContainer {
    position: fixed;
    top: 0;
    left: 0;
}

.StartChat {
    width: 32px;
    height: 32px;
    border: none;
    background: no-repeat center url('./ui/res/chat-bubbles.svg'), #295dbd;
    border-radius: 2px;
    cursor: pointer;
}

.AccountSetupView {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    width: 320px;
}

.PolicyAgreementView-text {
    padding-bottom: 10px;
}

.PolicyAgreementView-next, .PolicyAgreementView-cancel {
    display: flex;
    padding: 10px;
    width: 85px;
    justify-content: center;
}

.PolicyAgreementView-btn-collection .PolicyAgreementView-cancel {
    border: 1px solid #03B381;
    border-radius: 8px;
}

.PolicyAgreementView-btn-collection {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
}

.ChatterboxView {
    width: 375px;
    height: 595px;
}

.RoomHeaderView {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    align-items: center;
    padding: 10px 15px;
    height: 35px;
    background-color: #295dbd;
    border-radius: 5px 5px  0 0;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
}

.RoomHeaderView_menu {
    display: flex;
    justify-content: end;
}

.RoomHeaderView_menu_minimize {
    background: url("./ui/res/chevron-down.svg") no-repeat;
    height: 20px;
    width: 20px;
    border: none;
    cursor: pointer;
}

.RoomHeaderView .avatar {
    border-radius: 2px;
}

.ChatterboxView_footer {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 1.0rem;
    font-weight: 600;
    box-sizing: border-box;
    padding-right: 53px;
    color: #9b9797;
}

.ChatterboxView_footer>img {
    width: 35px;
    padding-left: 4px;
}

.ChatterboxView .MessageComposer_input>textarea {
    border-radius: 5px;
    border: #c2bebe 1.5px solid;
}
