#chatterbox {
    position: absolute;
    bottom: 10px;
    right: 10px;
    max-width: 375px;
}

#chatterbox .Timeline {
    height: 500px;
}

#chatterbox>div {
    border-radius: 5px;
}

/*
todo: this style should actually be in hydrogen-web
*/
#chatterbox .popupContainer {
    position: fixed;
    top: 0;
    left: 0;
}

.StartChat {
    width: 32px;
    height: 32px;
    border: none;
    margin: 5px;
    background: no-repeat center url('./ui/res/chat-bubbles.svg'), #295dbd;
    border-radius: 2px;
    cursor: pointer;
}

.AccountSetupView {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    width: 320px;
    border-radius: 5px;
}
.PolicyAgreementView-text {
    padding-bottom: 10px;
}

.PolicyAgreementView-next, .PolicyAgreementView-cancel {
    display: flex;
    padding: 10px;
    width: 85px;
    justify-content: center;
}

.PolicyAgreementView-btn-collection .PolicyAgreementView-cancel {
    border: 1px solid #03B381;
    border-radius: 8px;
}

.PolicyAgreementView-btn-collection {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
}

.hydrogen {
    background-color: transparent !important;
}

.hydrogen :not(.StartChat) {
    background-color: rgba(245, 245, 245, 0.90);
}

body {
    background-color: #205a634d;
}
